<div>
  <table class="dataTable">
    <thead>
      <tr>
        <th style="text-align: left" class="id"></th>
        <th style="text-align: left" class="id">ID</th>
        <th style="text-align: left" class="value">Órgão Responsável</th>
        <th style="text-align: left" class="value">Valor</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of expenses">
        <td style="text-align: left; cursor: pointer;" class="id"><img src="https://cdn.onlinewebfonts.com/svg/img_167289.png"
            height="20" width="20" (click)="editExpense(item)"> </td>
        <td style="text-align: left" class="id">{{ item.id }}</td>
        <td style="text-align: left" class="value">{{ item.orgao_nome }}</td>
        <td style="text-align: left" class="value">{{ item.valor_total | currency:'BRL'}}</td>
      </tr>
    </tbody>
  </table>
  <button type="button" class="buttonSmall" style="margin:5px;" (click)="previousData()">
    <p>&#8592;</p>
  </button>
  <input type="text" style="height:32px" value={{chunk*10+1}}-{{chunk*10+10}} class="field left" readonly>
  <button type="button" class="buttonSmall" style="margin:5px;" (click)="nextData()">
    <p>&#8594;</p>
  </button>
</div>

<div *ngIf=edited&&!edit>  
  <a style="color:white">Editado</a>

</div>

<div *ngIf=deleted&&!edit>
  <a style="color:white">Removido</a>

</div>

<div *ngIf=edit>
  <table class="editTable">
    <tr style="width: 50%">
      <td>
        <div style="margin:4px;" class="editHeader">
          Editar

        </div>
      </td>
      <td>
        <button type="button" class="opaqueButton" (click)=save()>Salvar</button>
        <button type="button" class="opaqueButton" (click)=remove()>Remover</button>
      </td>
    </tr>

    <tr style="text-align: left;">
        <td style="width: 40%; color: white">ID:</td>
        <td><input type="text" style="height:32px; width: 195px" value={{selectedExpense._id}} class="field left" readonly></td>
      </tr>
      <tr style="text-align: left;">
          <td style="width: 40%; color: white">Ano de movimentação:</td>
          <td><input type="text" style="height:32px; width: 195px" value={{selectedExpense.ano_movimentacao}} class="field left" [(ngModel)]=selectedExpense.ano_movimentacao></td>
        </tr>
        <tr style="text-align: left;">
          <td style="width: 40%; color: white">Mês de movimentação:</td>
          <td><input type="text" style="height:32px; width: 195px" value={{selectedExpense.mes_movimentacao}} class="field left" [(ngModel)]=selectedExpense.mes_movimentacao></td>
        </tr>
        <tr style="text-align: left;">
          <td style="width: 40%; color: white">Cód. do órgão:</td>
          <td><input type="text" style="height:32px; width: 195px" value={{selectedExpense.orgao_codigo}} class="field left" [(ngModel)]=selectedExpense.orgao_codigo></td>
        </tr>
        <tr style="text-align: left;">
          <td style="width: 40%; color: white">Cód. da unidade:</td>
          <td><input type="text" style="height:32px; width: 195px" value={{selectedExpense.unidade_codigo}} class="field left" [(ngModel)]=selectedExpense.unidade_codigo></td>
        </tr>
        <tr style="text-align: left;">
          <td style="width: 40%; color: white">Cód. da categoria economica:</td>
          <td><input type="text" style="height:32px; width: 195px" value={{selectedExpense.categoria_economica_codigo}} class="field left" [(ngModel)]=selectedExpense.categoria_economica_codigo></td>
        </tr>
        <tr style="text-align: left;">
          <td style="width: 40%; color: white">Cód. do grupo de despesa:</td>
          <td><input type="text" style="height:32px; width: 195px" value={{selectedExpense.grupo_despesa_codigo}} class="field left" [(ngModel)]=selectedExpense.grupo_despesa_codigo></td>
        </tr>
        <tr style="text-align: left;">
          <td style="width: 40%; color: white">Cód. da modalidade de aplicação:</td>
          <td><input type="text" style="height:32px; width: 195px" value={{selectedExpense.modalidade_aplicacao_codigo}} class="field left" [(ngModel)]=selectedExpense.modalidade_aplicacao_codigo></td>
        </tr>
        <tr style="text-align: left;">
          <td style="width: 40%; color: white">Cód. do elemento:</td>
          <td><input type="text" style="height:32px; width: 195px" value={{selectedExpense.elemento_codigo}} class="field left" [(ngModel)]=selectedExpense.elemento_codigo></td>
        </tr>
        <tr style="text-align: left;">
          <td style="width: 40%; color: white">Cód. do sublemento:</td>
          <td><input type="text" style="height:32px; width: 195px" value={{selectedExpense.subelemento_codigo}} class="field left" [(ngModel)]=selectedExpense.subelemento_codigo></td>
        </tr>
        <tr style="text-align: left;">
          <td style="width: 40%; color: white">Cód. da função:</td>
          <td><input type="text" style="height:32px; width: 195px" value={{selectedExpense.funcao_codigo}} class="field left" [(ngModel)]=selectedExpense.funcao_codigo></td>
        </tr>
        <tr style="text-align: left;">
          <td style="width: 40%; color: white">Cód. da subfunção:</td>
          <td><input type="text" style="height:32px; width: 195px" value={{selectedExpense.subfuncao_codigo}} class="field left" [(ngModel)]=selectedExpense.subfuncao_codigo></td>
        </tr>
        <tr style="text-align: left;">
          <td style="width: 40%; color: white">Cód. do programa:</td>
          <td><input type="text" style="height:32px; width: 195px" value={{selectedExpense.programa_codigo}} class="field left" [(ngModel)]=selectedExpense.programa_codigo></td>
        </tr>
        <tr style="text-align: left;">
          <td style="width: 40%; color: white">Cód. da ação:</td>
          <td><input type="text" style="height:32px; width: 195px" value={{selectedExpense.acao_codigo}} class="field left" [(ngModel)]=selectedExpense.acao_codigo></td>
        </tr>
        <tr style="text-align: left;">
          <td style="width: 40%; color: white">Cód. da fonte de recurso:</td>
          <td><input type="text" style="height:32px; width: 195px" value={{selectedExpense.fonte_recurso_codigo}} class="field left" [(ngModel)]=selectedExpense.fonte_recurso_codigo></td>
        </tr>
        <tr style="text-align: left;">
          <td style="width: 40%; color: white">Ano de empenho:</td>
          <td><input type="text" style="height:32px; width: 195px" value={{selectedExpense.empenho_ano}} class="field left" [(ngModel)]=selectedExpense.empenho_ano></td>
        </tr>
        <tr style="text-align: left;">
          <td style="width: 40%; color: white">Cód. da modalidade de empenho:</td>
          <td><input type="text" style="height:32px; width: 195px" value={{selectedExpense.empenho_modalidade_codigo}} class="field left" [(ngModel)]=selectedExpense.empenho_modalidade_codigo></td>
        </tr>
        <tr style="text-align: left;">
          <td style="width: 40%; color: white">Número de empenho:</td>
          <td><input type="text" style="height:32px; width: 195px" value={{selectedExpense.empenho_numero}} class="field left" [(ngModel)]=selectedExpense.empenho_numero></td>
        </tr>
        <tr style="text-align: left;">
          <td style="width: 40%; color: white">Subempenho:</td>
          <td><input type="text" style="height:32px; width: 195px" value={{selectedExpense.subempenho}} class="field left" [(ngModel)]=selectedExpense.subempenho></td>
        </tr>
        <tr style="text-align: left;">
          <td style="width: 40%; color: white">Cód. do credor:</td>
          <td><input type="text" style="height:32px; width: 195px" value={{selectedExpense.credor_codigo}} class="field left" [(ngModel)]=selectedExpense.credor_codigo></td>
        </tr>
        <tr style="text-align: left;">
          <td style="width: 40%; color: white">Cód. da modalidade de licitação:</td>
          <td><input type="text" style="height:32px; width: 195px" value={{selectedExpense.modalidade_licitacao_codigo}} class="field left" [(ngModel)]=selectedExpense.modalidade_licitacao_codigo></td>
        </tr>
        <tr style="text-align: left;">
          <td style="width: 40%; color: white">Nome do órgão:</td>
          <td><input type="text" style="height:32px; width: 195px" value={{selectedExpense.orgao_nome}} class="field left" [(ngModel)]=selectedExpense.orgao_nome></td>
        </tr>
        <tr style="text-align: left;">
          <td style="width: 40%; color: white">Nome da unidade:</td>
          <td><input type="text" style="height:32px; width: 195px" value={{selectedExpense.unidade_nome}} class="field left" [(ngModel)]=selectedExpense.unidade_nome></td>
        </tr>
        <tr style="text-align: left;">
          <td style="width: 40%; color: white">Nome da categoria economica:</td>
          <td><input type="text" style="height:32px; width: 195px" value={{selectedExpense.categoria_economica_nome}} class="field left" [(ngModel)]=selectedExpense.categoria_economica_nome></td>
        </tr>
        <tr style="text-align: left;">
          <td style="width: 40%; color: white">Nome do grupo de despesa:</td>
          <td><input type="text" style="height:32px; width: 195px" value={{selectedExpense.grupo_despesa_nome}} class="field left" [(ngModel)]=selectedExpense.grupo_despesa_nome></td>
        </tr>
        <tr style="text-align: left;">
          <td style="width: 40%; color: white">Nome da modalidade de aplicação:</td>
          <td><input type="text" style="height:32px; width: 195px" value={{selectedExpense.modalidade_aplicacao_nome}} class="field left" [(ngModel)]=selectedExpense.modalidade_aplicacao_nome></td>
        </tr>
        <tr style="text-align: left;">
          <td style="width: 40%; color: white">Nome do elemento:</td>
          <td><input type="text" style="height:32px; width: 195px" value={{selectedExpense.elemento_nome}} class="field left" [(ngModel)]=selectedExpense.elemento_nome></td>
        </tr>
        <tr style="text-align: left;">
          <td style="width: 40%; color: white">Nome do subelemento:</td>
          <td><input type="text" style="height:32px; width: 195px" value={{selectedExpense.subelemento_nome}} class="field left" [(ngModel)]=selectedExpense.subelemento_nome></td>
        </tr>
        <tr style="text-align: left;">
          <td style="width: 40%; color: white">Nome da função</td>
          <td><input type="text" style="height:32px; width: 195px" value={{selectedExpense.funcao_nome}} class="field left" [(ngModel)]=selectedExpense.funcao_nome></td>
        </tr>
        <tr style="text-align: left;">
          <td style="width: 40%; color: white">Nome da subfunção:</td>
          <td><input type="text" style="height:32px; width: 195px" value={{selectedExpense.subfuncao_nome}} class="field left" [(ngModel)]=selectedExpense.subfuncao_nome></td>
        </tr>
        <tr style="text-align: left;">
          <td style="width: 40%; color: white">Nome do programa:</td>
          <td><input type="text" style="height:32px; width: 195px" value={{selectedExpense.programa_nome}} class="field left" [(ngModel)]=selectedExpense.programa_nome></td>
        </tr>
        <tr style="text-align: left;">
          <td style="width: 40%; color: white">Nome da ação:</td>
          <td><input type="text" style="height:32px; width: 195px" value={{selectedExpense.acao_nome}} class="field left" [(ngModel)]=selectedExpense.acao_nome></td>
        </tr>
        <tr style="text-align: left;">
          <td style="width: 40%; color: white">Nome da fonte de recurso:</td>
          <td><input type="text" style="height:32px; width: 195px" value={{selectedExpense.fonte_recurso_nome}} class="field left" [(ngModel)]=selectedExpense.fonte_recurso_nome></td>
        </tr>
        <tr style="text-align: left;">
          <td style="width: 40%; color: white">Nome da modalidade de empenho:</td>
          <td><input type="text" style="height:32px; width: 195px" value={{selectedExpense.empenho_modalidade_nome}} class="field left" [(ngModel)]=selectedExpense.empenho_modalidade_nome></td>
        </tr>
        <tr style="text-align: left;">
          <td style="width: 40%; color: white">Indicador de subempenho:</td>
          <td><input type="text" style="height:32px; width: 195px" value={{selectedExpense.indicador_subempenho}} class="field left" [(ngModel)]=selectedExpense.indicador_subempenho></td>
        </tr>
        <tr style="text-align: left;">
          <td style="width: 40%; color: white">Nome do credor:</td>
          <td><input type="text" style="height:32px; width: 195px" value={{selectedExpense.credor_nome}} class="field left" [(ngModel)]=selectedExpense.credor_nome></td>
        </tr>
        <tr style="text-align: left;">
          <td style="width: 40%; color: white">Nome da modalidade de liticação:</td>
          <td><input type="text" style="height:32px; width: 195px" value={{selectedExpense.modalidade_licitacao_nome}} class="field left" [(ngModel)]=selectedExpense.modalidade_licitacao_nome></td>
        </tr>
        <tr style="text-align: left;">
          <td style="width: 40%; color: white">Valor empenhado (R$):</td>
          <td><input type="text" style="height:32px; width: 195px" value={{selectedExpense.valor_empenhado}} class="field left" [(ngModel)]=selectedExpense.valor_empenhado></td>
        </tr>
        <tr style="text-align: left;">
          <td style="width: 40%; color: white">Valor Liquidado (R$):</td>
          <td><input type="text" style="height:32px; width: 195px" value={{selectedExpense.valor_liquidado}} class="field left" [(ngModel)]=selectedExpense.valor_liquidado></td>
        </tr>
        <tr style="text-align: left;">
          <td style="width: 40%; color: white">Valor pago (R$):</td>
          <td><input type="text" style="height:32px; width: 195px" value={{selectedExpense.valor_pago}} class="field left" [(ngModel)]=selectedExpense.valor_pago></td>
        </tr>
      
            
  </table>
</div>