

<div style="margin:15px;" class="header">
    {{ title }}
</div>
<table class="fixed">
  <tr >
    <th class="topAlign">
      <div >
        <button type="button" class="button" (click)="showMonth()" style="margin:5px;">Expenses by month</button>
        <button type="button" class="button" (click)="showCategory()" style="margin:5px;">Expenses by category</button>
        <button type="button" class="button" (click)="showSource()" style="margin:5px;">Expenses by source</button>
      </div>
      <div *ngIf="category">
          <app-category-expense></app-category-expense>
        </div>
    </th>
    <th class="topAlign">
      <div>
          {{ expense | json}}
      </div>
    </th>      
  </tr>
</table>






