<div>
    <table class="dataTable">      
        <thead style="border-bottom: 1px solid">
        <tr >
            <th style="text-align: left" class = "dataDesc">Categoria</th>
            <th style="text-align: left" class = "dataValue">Valor</th>
        </tr>
        </thead>
        <tbody >
        <tr *ngFor="let item of categoryExpenses">
            <td style="text-align: left">{{ item.category_name }}</td>
            <td style="text-align: left">{{ item.total | currency:'BRL' }}</td>
        </tr>
        <tr >
            <th style="text-align: left" class = "dataDesc">Total</th>
            <th style="text-align: left" class = "dataValue">{{total | currency:'BRL'}}</th>
        </tr>
        </tbody>
    </table>
</div>



