<div>
    <table class="dataTable">
        <thead>
        <tr >
            <th style="text-align: left" class = "dataDesc">Fonte</th>
            <th style="text-align: left" class = "dataValue">Valor</th>
        </tr>
        </thead>
        <tbody >
        <tr *ngFor="let item of sourceExpenses">
            <td style="text-align: left">{{ item.source_name }}</td>
            <td style="text-align: left">{{ item.total | currency:'BRL' }}</td>
        </tr>
        <tr >
            <th style="text-align: left" class = "dataDesc">Total</th>
            <th style="text-align: left" class = "dataValue">{{total | currency:'BRL'}}</th>
        </tr>
        </tbody>
    </table>
</div>
